fastapi
uvicorn
pydantic
pydantic_settings
python-dotenv
llama-index
llama-index-vector-stores-chroma
llama-index-vector-stores-neo4jvector
llama-index-graph-stores-neo4j
llama-index-embeddings-openai
llama-index-llms-openai
neo4j
python-multipart
langchain
pypdf
nltk
sentence-transformers
tiktoken
